.pic{

    background-image: url(../img//seaction/jumbotron.3ceb851.svg);
background-repeat: no-repeat;
height: 700px;



}
.table{

    width: 80%;
    margin: auto;
    margin-top: 227px;
    background-color: #fff;
}